In [ ]:
from sqlalchemy import create_engine
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
from config import DB_USER, DB_PASS
import scipy.stats as stats

In [ ]:
engine = create_engine(f"postgresql://{DB_USER}:{DB_PASS}@localhost/employee_db")
conn = engine.connect()

In [ ]:
salaries = pd.read_sql("SELECT * FROM salaries", conn)
salaries.head()

In [ ]:
titles = pd.read_sql("SELECT * FROM titles", conn)
titles.head()

In [ ]:
merged = pd.merge(salaries, titles, on="emp_no", how="inner")
merged.head()

In [ ]:
grouped = merged.groupby("title").mean()
grouped

In [ ]:
title_salary_df = grouped.drop(columns = "emp_no")
title_salary_df

In [ ]:
title_salary_df = title_salary_df.reset_index()
title_salary_df

In [ ]:
# Bonus 1: Create a histogram to visualize the most common salary ranges for employees.

plt.hist(salaries['salary'], 20, density=False, label="Salary")
plt.axvline(salaries['salary'].mean(), color='k', linestyle='dashed', linewidth=1, label="Salary Mean")
plt.xlabel("Salary")
plt.ylabel("Number of Employees")
plt.legend() 
plt.title("Common Salary Ranges")
plt.savefig("../Images/common_salary_ranges.png")

In [ ]:
# Bonus 2: Create a bar chart of average salary by title.

x_axis = title_salary_df["title"]
ticks = np.arange(len(x_axis))
y_axis = title_salary_df["salary"]
 
plt.bar(x_axis, y_axis, align="center", alpha=1.0, color=["pink", "b", "r", "orange", "y", "b", "g"])

plt.xticks(ticks, x_axis, rotation="vertical")

plt.ylabel("Salaries ($)")
plt.xlabel("Employee Title")
plt.title("Average Employee Salary by Title")

plt.savefig("../Images/avg_salary_by_title.png")

plt.show()